.aboutus {
  & .banner {
    height: 400px;
    position: relative;
    background-color: #dedede;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    background-clip: padding-box;
    background-image: url(/static/img/aboutus/herobg-stars.png);

    h1 {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 75%;
      margin-top: -65px;
      margin-left: -37.5%;
      color: #fff;
      font-weight: 400;
      font-size: 46px;
      font-family: Baskerville,
        Songti SC,
        新細明體,
        MingLiU,
        serif;
    }

    & .img {
      position: absolute;
      top: 50%;
      right: 0;
      margin-top: -110px;
      width: 40%;
      height: 221px;
      background-image: url(/static/img/aboutus/illustration-pinger.png);
      background-repeat: no-repeat;
      background-position: 0;
      background-size: auto 100%;
    }
  }
}

.about-content-wrap {
  & .about-content {
    background-image: url(/static/img/aboutus/building.jpg);
    margin: 0 auto;
    padding: 60px 30px;
    width: 72%;
    transform: translateY(-40px);
    background-color: #fff;
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, .05);
    background-position: 60px bottom;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-size: 300px auto;
    & h5{
      margin-bottom: 20px;
      padding-left: 60px;
      color: #9e9e9e;
      font-weight: 300;
      font-size: 20px;
    }
    & .title {
      padding: 0 60px;

      & h2 {
        font-weight: 300;
        font-size: 34px;
      }

      & h5 {
        margin-top: 20px;
        padding: 0;
        color: #333;
      }
    }

    & .content {
      padding: 0 45px;
      line-height: 2;
      font-size: 16px;
    }
  }
}

.col-6 {
  width: 50%;
  float: left;
}
