.agent {
  .distribution {
    padding: 100px 0 70px;
    background-size: cover;
    background-position: 50%;
    height: 480px;
    position: relative;

    & .desc {
      margin: auto;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 50%;
      height: 220px;
      text-align: center;
      color: #fff;

      & h1 {
        font-size: 48px;
        font-weight: 300;
      }

      & h5 {
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        opacity: .85;
        margin: 20px 0 8px;
      }

      & p {
        font-size: 14px;
      }
    }

    & .align-center {
      & .arrow {
        display: inline-block;
        width: 22px;
        height: 36px;
        // background: url(data:image/png)
        background-size: cover;
        margin: 30px 0 8px;
      }
    }
  }
}
.distribution.agent {
  background-image: url(/static/img/agent/distribution-bg.png);
}
.distribution.store {
  background-image: url(/static/img/store/store-bg.png);
}
.distribution.retail {
  background-image: url(/static/img/retail/bg.png);
}
.agent-top {
  margin-bottom: 40px;
}

.wave {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  overflow: hidden;

  & li {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 200%;
    background-size: 50% 100%;
    animation: wave-data-v-5ee4a41e 10s linear infinite;
  }

  & .wave-1 {
    height: 11px;
  }

  & .wave-2 {
    height: 21px;
  }

  & .wave-2 {
    height: 35px;
  }
}

.module-box {
  padding-top: 100px;

  & .module-title {
    margin-bottom: 60px;
    text-align: center;
    font-size: 34px;
    font-weight: 300;
  }

  & .module-item {
    margin-bottom: 120px;
    position: relative;

    & h3 {
      margin-bottom: 20px;
      font-size: 24px;
      font-weight: 400;
    }

    & p {
      margin-bottom: 15px;
      padding-left: 13px;
      text-indent: -10pt;
      line-height: 2;
      font-size: 15px;
    }

    & i {
      padding: 20px;
      min-height: 250px;
      background-repeat: no-repeat;
      background-size: contain;
      background-origin: content-box;
      background-position: 50%;
    }

    & .module-desc,
    i {
      display: inline-block;
      width: 49%;
      vertical-align: middle;
    }

    & .module-desc {
      padding: 0 20px;
    }
  }
}
.module-item.agent {
  & i:nth-child(1) {
    background-image: url(/static/img/agent/service-scene.png);
  }

  & i:nth-child(2) {
    background-image: url(/static/img/agent/distributor.png);
  }

  & i:nth-child(3) {
    background-image: url(/static/img/agent/member.png);
  }
}
.module-item.store {
  & i:nth-child(1) {
    background-image: url(/static/img/store/offline-store.png);
  }

  & i:nth-child(2) {
    background-image: url(/static/img/store/online-store.png);
  }

  & i:nth-child(3) {
    background-image: url(/static/img/store/headquarters.png);
  }
}
.module-item.retail {
  & i:nth-child(1) {
    background-image: url(/static/img/retail/1.png);
  }

  & i:nth-child(2) {
    background-image: url(/static/img/retail/2.png);
  }

  & i:nth-child(3) {
    background-image: url(/static/img/retail/3.png);
  }
}


.bottom-banner.agent,
.bottom-banner.store {
  background-image: linear-gradient(17deg, rgb(30, 152, 166), rgb(98, 218, 215));
}
.bottom-banner.retail {
  background-image: linear-gradient(17deg, rgb(96, 72, 157), rgb(166, 147, 221));
}
.bottom-banner.agent .button,
.bottom-banner.store .button {
  color: rgb(56, 152, 165);
}
.bottom-banner.retail .button {
  color:rgb(95, 58, 157);
}
.bottom-banner {
  padding: 60px 0 80px;
  text-align: center;
  color: #fff;

  & h3 {
    margin: 32px 0;
    font-size: 26px;
    font-weight: 300;
  }
  .button {
    margin-top: 36px;
    padding: 8px 15px;
    background-color: #fff;
    border-radius: 100px;
    font-size: 14px;
  }
}
