.contactus {
  text-align: center;
  font-size: 14px;
  padding-top: 90px;

  h3 {
    padding: 50px 0;
    font-size: 26px;
    font-weight: 300;
    text-align: center;
  }

  & .container {
    margin-bottom: 100px;

    >div {
      margin-top: 25px;

      & label {
        display: inline-block;
        width: 80px;
        text-align: right;
      }

      & img {
        margin-left: 20px;
        display: inline-block;
        width: 150px;
        text-align: left;
        vertical-align: middle;
      }
    }
  }
}
