.footer {
  width: 100%;
  padding: 60px 0 10px;
  background: #f7f7f7;
  box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, .03);

  & ul {
    margin-bottom: 50px;
    padding-bottom: 30px;

    & li {
      padding: 0 15px;
    }

    & li.col-3 {
      width: 25%;
      float: left;
    }

    & dt {
      margin-bottom: 14px;
      font-size: 16px;
      line-height: 28px;
      color: #202020;
      font-weight: 400;
    }

    & dd {
      font-size: 14px;
      line-height: 25px;
      color: #606060;
      cursor: pointer;
    }

    & dd:hover {
      color: #202020;
    }

    & .weixin {
      margin-top: 30px;
      position: relative;
      & i.we-icon {
        display: block;
        width: 22px;
        height: 22px;
        // background: url(/static/img/product/weixin-icon.png) no-repeat 50%;
        background: #202020;
        background-size: 100% 100%;
      }
      & i.we-qr{
        position: absolute;
        top: -100px;
        left: -50px;
        width: 100px;
        height: 100px;
        background: url(/static/img/contactus/kefu.jpg);
        background-size: 100% 100%;
      }
    }
  }
}

.beian {
  margin: 0 auto;
  color: #606060;
  font-size: 12px;
  text-align: center;

  & p {
    padding: 0 15px 25px;
    display: inline-block;
    & a{
      color: #606060;
    }
  }
}
