.distribution {
  padding: 100px 0 70px;
  background-size: cover;
  background-position: 50%;
  height: 480px;
  position: relative;
  & .desc {
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 220px;
    text-align: center;
    color: #fff;
    & h1 {
      font-size: 48px;
      font-weight: 300;
    }
    & h5 {
      font-size: 16px;
      font-weight: 400;
      line-height: 28px;
      opacity: .85;
      margin: 20px 0 8px;
    }
    & .arrow {
      display: inline-block;
      width: 22px;
      height: 36px;
    //   background: url(data:image/png;)
      background-size: cover;
      margin: 30px 0 8px;
    }
    & p {
      font-size: 14px;
    }
  }
}
.agent-top {
  margin-bottom: 40px;
}
.wave {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  overflow: hidden;
}
a {
  outline: none;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  transition: all .3s;
}


.module-box {
  padding-top: 100px;
  & .module-title {
    margin-bottom: 32px;
    text-align: center;
    font-size: 34px;
    font-weight: 300;
  }
  & .module-desc {
    margin-bottom: 72px;
    text-align: center;
    & p {
      padding-left: 0;
      opacity: .7;
      font-size: 14px;
      text-indent: 0;
    }
  }
  & .module-item {
    margin-bottom: 120px;
    position: relative;
    & .item-desc {
      margin-bottom: 30px;
      text-align: left;
    }
    & i {
      padding: 20px;
      min-height: 250px;
      background-repeat: no-repeat;
      background-size: contain;
      background-origin: content-box;
      background-position: 50%;
    }
    & h5 {
      font-size: 16px;
      font-weight: 400;
      line-height: 28px;
      opacity: .85;
      margin-bottom: 8px;
    }
    & p {
      margin-bottom: 15px;
      padding-left: 13px;
      text-indent: -10pt;
      line-height: 2;
      font-size: 15px;
    }
  }
}
.module-item.module-item-1 i.left-img {
  background-origin: border-box;
}

.module-item .module-desc {
  padding: 0 20px;
}
.module-item .module-desc,
.module-item i {
  display: inline-block;
  width: 49%;
  vertical-align: middle;
}
.bottom-banner {
  padding: 60px 0 80px;
  text-align: center;
  color: #fff;

  & h3 {
    margin: 32px 0;
    font-size: 26px;
    font-weight: 300;
  }

  & .button {
    margin-top: 36px;
    padding: 8px 15px;
    background-color: #fff;
    border-radius: 100px;
    font-size: 14px;
  }
}