.login {
  margin: 140px auto 100px;
  width: 320px;

  & h4 {
    margin-bottom: 40px;
    line-height: 30px;
    font-size: 21px;
    font-weight: 400;
    text-align: center;
    font-style: italic;
    text-shadow: 1px 1px 8px #ccc;
  }
}

.form-row {
  margin-bottom: 15px;
  font-size: 0;
  position: relative;

  & input {
    padding: 0 8px;
    width: 100%;
    height: 34px;
    line-height: 34px;
    border-radius: 3px;
    font-size: 14px;
    border: 1px solid #d1d1d1;
    box-shadow: inset 0 1px 4px 0 rgba(0, 0, 0, .13);
    display: inline-block;
    vertical-align: middle;
  }
}

.submit {
  margin: 15px 0 30px;
  cursor: pointer;
}

.btn.disable {
  cursor: default;
  opacity: .7;
  box-shadow: none;
}

.bottom-text {
  float: right;
  font-size: 14px;
  color: #666;
  line-height: 1.5;
  cursor: pointer;

  & a {
    font-size: 14px;
    color: #35c8e6;
  }
}

.form-row .form-btn {
  margin: 0;
  margin-left: 5px;
  height: 34px;
  line-height: 34px;
}
.form-row .checkbox-wrap {
  margin-left: 0;
}
.form-row .checkbox-wrap input[type=checkbox] {
  display: none;
}
.form-row .checkbox-wrap input[type=checkbox].checked~label {
  color: #35c8e6;
}
.form-row .checkbox-wrap input[type=checkbox]+label {
  margin-right: 5px;
  width: 14px;
  height: 14px;
  border: 1px solid currentColor;
  border-radius: 2px;
  text-align: center;
  line-height: 14px;
  text-decoration: none;
  font-size: 12px;
}
.form-row .checkbox-wrap a,
.form-row .checkbox-wrap input[type=checkbox]~label {
  color: #666;
  font-size: 13px;
  cursor: pointer;
  transition: color .3s;
}
.form-row .checkbox-wrap input[type=checkbox]+label:before {
  content: "\2713";
}


.form-row .form-text {
  color: #999;
  font-size: 12px;
  height: 34px;
  line-height: 34px;
  & a{
    font-size: 14px;
    color: #35c8e6;
  }
}