.merchantApply {
  padding-top: 90px;

  & h3 {
    margin-top: 50px;
    font-size: 18px;
    color: #f9b62f;
    font-weight: 400;
    text-align: center;
  }
}

.container {
  margin-top: 50px;
  padding-bottom: 30px;
  position: relative;
}

.form-row {
  margin-bottom: 15px;
  font-size: 0;
  position: relative;

  & .radio-wrap {
    margin-right: 20px;
  }
  & .radio-wrap input {
    display: none;
  }
  & input {
    padding: 0 8px;
    width: 100%;
    height: 34px;
    line-height: 34px;
    border-radius: 3px;
    font-size: 14px;
    border: 1px solid #d1d1d1;
    box-shadow: inset 0 1px 4px 0 rgba(0, 0, 0, .13);
  }
}
.form-row .checkbox-wrap,
.form-row .form-text,
.form-row .input-tip,
.form-row .radio-wrap,
.form-row .select-wrap,
.form-row input,
.form-row input[type=checkbox]~label,
.form-row input[type=radio]~label {
  display: inline-block;
  vertical-align: middle;
}

.form-row .radio-wrap input[type=radio].checked~label {
  color: #35c8e6;
}
.form-row .radio-wrap input[type=radio].checked+label {
  border-color: #35c8e6;
}
.form-row .radio-wrap input[type=radio].checked+label:before {
  background-color: #35c8e6;
}
.form-row .radio-wrap input[type=radio]+label:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -2px;
  margin-top: -2px;
  width: 4px;
  height: 4px;
  border-radius: 10px;
  background-color: #ddd;
}
.form-row .radio-wrap input[type=radio]+label {
  margin-right: 5px;
  width: 14px;
  height: 14px;
  border-radius: 100px;
  border: 1px solid #ddd;
  position: relative;
}
.form-row .radio-wrap input[type=radio]~label {
  color: #666;
  cursor: pointer;
  font-size: 14px;
  line-height: 34px;
  transition: color .3s;
}
.p-r {
  padding-right: 100px;
}

.col-6 {
  width: 50%;
  float: left;
}

.form-row .label {
  position: absolute;
  width: 100px;
  font-size: 14px;
  color: #555;
  margin-top: 7px;
}

.form-row .label.require:before {
  content: "*";
  position: absolute;
  top: 3px;
  left: -10px;
  color: red;
}

.form-row .form-line {
  padding-left: 100px;
  position: relative;
}
.list-wrap,
.list-wrap input[readonly] {
  cursor: pointer;
}
.list-wrap {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.list {
  margin-right: 10px;
  height: 34px;
  width: 150px;
  vertical-align: top !important;
}
.arrow-bottom {
  position: absolute;
  top: 50%;
  right: 10px;
  width: 14px;
  height: 14px;
  margin-top: -7px;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
//   background-image: url(data:image/svg+xml;)
}
.file-wrap {
  margin-right: 15px;
  display: inline-block;
}
.file-wrap label{
  display: block;
  width: 150px;
  height: 100px;
  border: 1px dashed #ddd;
  border-radius: 5px;
  cursor: pointer;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  transition: box-shadow .3s;
  position: relative;
}
.file-wrap label.no-file:before {
  width: 70px;
  height: 1px;
  margin-left: -35px;
}
.file-wrap label.no-file:after,
.file-wrap label.no-file:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #eee;
}
.file-wrap label.no-file:after {
  width: 1px;
  height: 50px;
  margin-top: -25px;
}
.file-wrap span {
  margin-top: 5px;
  display: block;
  font-size: 12px;
  color: #666;
  text-align: center;
}
input[type=file] {
  display: none;
}
.btn {
  margin-top: 50px;
  margin-right: 20px;
  width: auto;
  padding: 0 40px;
}
.list-wrap .list {
  position: absolute !important;
  top: calc(100% + 2px);
  left: 0;
  z-index: 999;
  height: 200px;
  min-width: 100px;
  border: 1px solid #35c8e6;
  background-color: hsla(0, 0%, 100%, .8);
}
.list-wrap ul {
  padding: 0 10px;
  & li{
      white-space: nowrap;
      height: 30px;
      line-height: 30px;
      font-size: 14px;
      transition: color .3s;
  }
}