.distribution {
  background-image: url(/static/img/platform/bg-platform.png);
  padding: 100px 0 70px;
  background-size: cover;
  background-position: 50%;
  height: 750px;
  position: relative;

  & .content {
    margin: 70px auto;
    width: 80%;
    text-align: center;
    color: #fff;
    & .sub-title {
      margin-bottom: 25px;
      font-size: 24px;
      font-weight: 300;
      line-height: 28px;
      & label {
        padding-left: 50px;
        display: inline-block;
        background-position: 0;
        background-size: 36px 36px;
        background-repeat: no-repeat;
        line-height: 36px;
        background-image: url(/static/img/headicon/platform-system-white.svg);
      }
    }
    & h1 {
      margin-bottom: 30px;
      font-size: 44px;
      font-weight: 300;
    }
    & .desc {
      margin: 0 auto 100px;
      width: 60%;
      font-size: 16px;
      font-weight: 400;
      line-height: 28px;
      opacity: .7;
    }
    .arrow {
      display: inline-block;
      width: 22px;
      height: 36px;
      // background: url(data:image/png;)
      background-size: cover;
      margin: 30px 0 8px;
    }
  }
}

.agent-top {
  margin-bottom: 40px;
}
.border-top {
  border: none;
  border-top: 1px solid rgba(0, 0, 0, .05);
}
.module-box {
  padding-top: 60px;
  margin-top: 30px;
  & .module-title {
    margin-bottom: 32px;
    text-align: left;
    font-size: 34px;
    font-weight: 300;
  }
  & .module-desc {
    margin-bottom: 60px;
    width: 70%;
    line-height: 1.7;
    text-align: left;
  }
}
.big-row {
  padding: 30px 50% 30px 0;
  position: relative;
  background-repeat: no-repeat;
  background-size: 490px 330px;
  background-position: 100%;
  background-image: url(/static/img/platform/account-rect-img-server.png);
  i {
    padding-left: 30px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    background-origin: content-box;
    transition: opacity .5s;
    opacity: 0;
  }
  & .big-item.box-active {
    background-color: #f9f9f9;
  }
  & .big-item {
    padding: 32px 0 0 120px;
    background-size: 60px 60px;
    height: 136px;
    background-repeat: no-repeat;
    background-position: 20px;
    & .box-desc-title {
      font-size: 18px;
      font-weight: 600;
    }
    & .box-desc-message {
      opacity: .7;
      font-size: 14px;
      margin-top: 10px;
      padding-right: 10px;
    }
  }
}
.module-box.module-box-right .module-desc,
.module-box.module-box-right .module-title,
.module-box.module-box-right {
  text-align: right;
}
.module-box {
  padding-top: 60px;
  margin-top: 30px;
}
.module-box.module-box-right .module-desc {
  display: inline-block;
}
.module-box .module-desc {
  margin-bottom: 60px;
  width: 70%;
  line-height: 1.7;
  text-align: left;
}
.module-box.module-box-right .big-row {
  padding-left: 50%;
  padding-right: 0;
  text-align: left;
  background-position: 0;
  i {
    padding-right: 30px;
    padding-left: 0;
    position: absolute;
    top: 0;
    right: 50%;
    bottom: 0;
    left: 0;
    opacity: 0;
  }
}
.big-row .big-item.box-active i {
  opacity: 1;
}

.account-box {
  margin-top: 70px;
  padding: 70px 0;
  background-color: #f9f9f9;
  position: relative;
  & h3 {
    margin-bottom: 20px;
    font-size: 26px;
    text-align: center;
    font-weight: 300;
  }
  & .img-content {
    margin: 0 auto;
    width: 66%;
    & .img-wrap{
      padding-top: 50%;
      position: relative;
      & i {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 50%;
      }
    }
  }
  & .control-box-fun {
    text-align: center;
    & span {
      margin: 0 10px;
      display: inline-block;
      font-size: 14px;
      cursor: pointer;
    }
    & span.active {
      color: #35c8e6;
      font-size: 16px;
    }
  }
}
.bottom-banner {
  padding: 60px 0 80px;
  text-align: center;
  color: #fff;
  & h3 {
    margin: 32px 0;
    font-size: 26px;
    font-weight: 300;
  }
  & .button {
    margin-top: 36px;
    padding: 8px 15px;
    background-color: #fff;
    border-radius: 100px;
    font-size: 14px;
  }
}