.container {
  width: 980px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  width: 100%;
  height: 38px;
  line-height: 38px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  word-spacing: 3px;
  border-radius: 3px;
  cursor: pointer;
  vertical-align: middle;
  background-color: #35c8e6;
  border: 1px solid #35c8e6;
  transition: all .3s;
}

.form-row .checkbox-wrap,
.form-row .form-text,
.form-row .input-tip,
.form-row .radio-wrap,
.form-row .select-wrap,
.form-row input,
.form-row input[type=checkbox]~label,
.form-row input[type=radio]~label {
  display: inline-block;
  vertical-align: middle;
}

a {
  outline: none;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  transition: all .3s;
}

section {
  user-select: none;
  webkit-user-select: none;
  moz-user-select: none;
  mo-user-select: none;
}
